/*
//scrollTo#
 $('a').click(function() {
  var href = $(this).attr("href");
     $('html, body').animate({
        scrollTop: $(href).offset().top
     }, 500);
    return false;
});
http://jsfiddle.net/9SDLw/
jquery
skrypt
<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
*/

/*
Button do powrótu na górę strony
https://codyhouse.co/gem/back-to-top/*/

/*
ham menu
https://codepen.io/evrenakar/pen/bdLXMK
*/

/* oryginal */



* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
}
.row:before,
.row:after {
    content: " ";
    display: table;
    clear: both;
}
.container {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}
/* section header */
nav {
	height: 80px;
}
header {
	background-color: #FFC556;	
}
header>nav>div>img {
	margin: -2px 0 0 100px;
	width: auto;
	height: 80px;
}
header>nav>div>ul {
	margin: 0 80px 0 0;
	list-style-type: none;
	float: right;
	color: white;
}
header>nav>div>ul>li {
	display: inline-block;
}
header>nav>div>ul>li>a {
	line-height: 80px;
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2pt;
	display: block;
	margin: 0 0;
	padding: 0 30px;
	color: white;
	text-decoration: none;
}
header>nav>div>ul>li>a:hover {
	background-color: #5173ad;
	color: #FFC556;
	cursor: pointer;
}
/* section hero */
.hero {
	background-image: url("f12.png");
	background-position: 90% 80%;	
	height: 90vh;
	background-size: cover;
}
.slogan {
	background-color: rgba(255, 253, 253, 0.2);
	float: left;
	color: white;
	width: 500px;
	margin: 5vh 0 0 0;
	padding: 0 20px 10px 100px;
	border: 1px solid white;
	box-shadow: 0 1px 1px 0 black;
	
}
.slogan>h2 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.5pt;
	font-size: 40px;
	margin-bottom: -20px;
}
.slogan>p {
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 1pt;
	line-height: 0.5em;
}
/* section szkolenia */
/* Column widths */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* Column offsets */
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}

[class*="col-"] {
	float: left;
	min-height: 1px;
	height: auto;
	text-align: center;
 }
.szkolenia {
	height: 100vh;
	padding: 20px 0;
	background-image: url("9ablue.png");
	background-position: 90% 80%;	
	background-size: cover;

}
.szkolenia>.container {
	text-align: center;
}

.szkolenia>.container>h2 {
	font-size: 2.2em;
	color: whitesmoke;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3pt;
}
.szkolenia>.container>p {
	font-size: 1.8em;
	margin: auto;
	color: whitesmoke;
	font-weight: 700;
	letter-spacing: 1pt;
}

.szkolenia>.container>.row {
	margin-top: 40px;
	height: auto;
}
.col-4>h3 {
	margin: 0;
	letter-spacing: 1pt;
	color: whitesmoke;
	text-transform: uppercase;
	font-size: 1.3em;
}
.col-4>p {
	display: inline-block;
	width: 170px;
	letter-spacing: 1pt;
	margin: 5px;
	font-weight: bold;
	color: whitesmoke;
	font-size: 1.1em;
}
.icon-btn {
	width: 75px;
	height: 75px;
	border: 0px;
	border-radius: 10%;
	margin: 10px;
	font-size: 40px;
	line-height: 75px;	
	background-color: whitesmoke;
}
.handshake {
	color: dodgerblue;
}
.bolt {
	color: dodgerblue;	
}
.money {
	color: dodgerblue;
}
/* section wake */
.wake {
	height: 40vh;
	
}
.wake>.container {
	
	text-align: center;
	font-weight: 700;
	letter-spacing: 1pt;
	color: dodgerblue;
	padding-top: 20px;
    margin: 0 auto;
}
.wake>.container>h2 {
	font-size: 2.2em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3pt;
	
}
.wake>.container>p {
	font-size: 1.4em;
	font-weight: 600;
	letter-spacing: 1pt;

}
/* section gallery */

.rowgallery{
	padding: 0;
	margin: 0;
	height: auto;
}
.fotoicon {
	float: left;
	width: 25%;
	position: relative;
    overflow: hidden;
    height: auto;
}
.fotoicon>img {
	display: block;
	width: 100%;
	opacity: 1;
}
.iconc {
  opacity: 0;
  position: absolute;
  	
  	left: 10%;
	top: 10%;
}
.iconc>p {
	margin: 0 auto;
	font-size: 3em;
	color: dodgerblue;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5pt;
}

.fotoicon:hover img {
	opacity: 0.2;
}
.fotoicon:hover .iconc {
	opacity: 1;
}

/* section rejsy */
.rejsy {
	
	height: 60vh;
	background-image: url("f14.png");
	background-size: cover;
	background-position: 100% 30%;
}
.rejsy>.container {
	text-align: center;
	font-weight: 700;
	letter-spacing: 1pt;
	width: 700px;
	padding-top: 0px;
	color: whitesmoke;
}
.rejsy>.container>h2 {
	font-size: 2.2em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3pt;
	padding-top: 60px;
}
.rejsy>.container>p {
	font-size: 1.6em;
	margin: 20px auto;
	font-weight: 700;
	letter-spacing: 1pt;
}
/* section awesome */
.awesome {
	box-sizing: border-box;	
	background-color: black;
	color: white;
	height: 40vh;
    
}	
.awesome>.row {
	height: 100%;
	display: block;
    
}
.phonetxt {
padding-top: 20px;
height: auto;
}
.phonetxt h3 {
	text-align: left;
	margin: 5px 0 -10px 50px;
	font-size: 1.4em;
	letter-spacing: 1.5pt;
}
.six1 {
	width: 300px;
	height: 90px;
    text-align: left;
    padding-left: 50px;
    font-size: 1.1em;
}
.six2 {
	height: 90px;
	text-align: left;
	font-size: 1.1em;
	padding-left: 30px;
    width: 250px;
}
.awesomeimg {
	background-image: url("rejsy.png");
    height: 30vh;
	background-size: cover;
	background-position: bottom left;
    margin-top: 30px;
}
.phone {
	background-position: 80% right;
}
/* section about */
.about {
	box-sizing: border-box;	
	background-color: white;
	color: #645858;
	padding: 40px;
	height: 40vh;

}
.aboutcol {
	text-align: right;
	padding-right: 20px;
	letter-spacing: 1pt;
}
.aboutcol2 {
	text-align: left;
	padding-left: 30px;
}

.face {
	width: 120px;
	height: 120px;
	border: 0px;
	border-radius: 50%;
	margin: 10px;
	line-height: 120px;	
}
h3 {
	font-size: 1.4em;
	padding-top: 0;
	margin-top: 0;
}
/* section numbers */
.numbers {
	box-sizing: border-box;	
	background-color: #FFC556;
    height: 20vh;
    padding-top: 10px;
}	
.numbers h3 {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 1.4em;
	color: #010012;
	font-weight: 900;
    
}
.numbers p {
	font-size: 1.2em;
	padding-top: 0;
	margin-top: 0;	
	color: white;
}
/* section footer */
.footer {
	box-sizing: border-box;	
	background-color: black;
	color: white;
	padding-top: 0px;
    margin: 0;
    height: 60vh;
}	
.footer>.row {
	display: block;
}
[class*="colfo-"] {
	float: left;
	min-height: 1px;
	height: auto;
	text-align: left;
    font-size: 1em; 
    margin-top: 2em;
 }
.colfo-1>p {
    font-size: 1em;
    margin: 0;
    margin-top: 20px;
}


 [class*="colforow-"] {
	display: inline;
	min-height: 1px;
	height: 120px;
	width: 120px;
    
}	
[class*="colforowcol-"] {
	min-height: 1px;
	height: 60px;
	text-align: right;
	width: 60px;
	margin-left: -15px;
	margin-right: 23px;
}	
[class*="colforowcolbis-"] {
	float: left;
	min-height: 1px;
	height: 40px;
	text-align: left;
	padding-top: 6px;
}	
.colfo3top {
	height: 70px;	
}
.colfo3top>p {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1pt;
}
[class*="colfo3rowcol-"] {
	margin-top: 20px;
	height: 30px;
}
.iconfooter {
	width: 30px;
	height: 30px;
	border: 0px;
	border-radius: 10%;
	margin: 0;
	font-size: 20px;
	line-height: 30px;
	background-color: darkblue;
	color: white;
}
.iconfooter:hover {
	background-color: white;
	color: darkblue;
}
.colfo3rowcol-1 {
	margin-left: -10px;
}
.copy {
height: 10vh;
text-align: center;
margin: 0 auto;
color: white;
background-color: black;
font-size: 12px;
}





/* RWD */



@media screen and (max-width: 460px) {

.container {
	max-width: 460px;
	width: 100%;
	margin: 0 auto;
}



/* section header */

    /*hamburger*/
.menu-btn {
    display: block;
    position: absolute;
    top: 5%;
    left: 80%;
    width: 30px;
 }

.menu-btn:before,
.menu-btn:after {
  background-color: #000;
  content: '';
  display: block;
  height: 5px;

}
.menu-btn:before {
  box-shadow: 0 10px 0 #000;
  margin-bottom: 15px;
}

#ulmenu {
    display: none;
}

    
    
/*end hamburger*/
    
nav {
    width: 100%;
	height: auto;
}
.row {
	text-align: center;
}
header>nav>div>img {
	margin: 0 auto;
    width: 170px;
	height: auto;
}
header>nav>div>ul {
	margin: -5px auto;
	float: none;
	background-color: #E0DBDB;
	width: 170px;
}
header>nav>div>ul>li {
	display: block;
	color: #645858;
	margin-left: -40px;
    border-bottom: 1px solid white;
}
    header>nav>div>ul>li:last-of-type {
    border-bottom: none;    
}

header>nav>div>ul>li>a:hover {
	background-color: #E0DBDB;
	color: white;
	cursor: default;
}    
    
/* section hero */
.hero {
	background-position: 50% 75%;	
}
.slogan {
	float: none;
	max-width: 300px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}


.slogan>h2 {
	
	font-size: 1.4em;
	margin-bottom: 10px;
}
.slogan>p {
	font-size: 1.2em;
	
}

/* section szkolenia */

.szkolenia {
    height: auto;
}
    
.szkolenia>.container {
	max-width: 460px;
    width: 100%;
	padding: 10px;
}    
.szkolenia>.container>h2 {
	font-size: 1.4em;
 
}
.szkolenia>.container>p {
	font-size: 1.2em;

}

.szkolenia>.container>.row {
	margin-top: 10px;
	height: auto;
}

.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

[class*="col-"] {
    height: auto;
}

.col-s-12 {
    margin-bottom: 0;
}

.col-4>h3 {
	font-size: 1em;
}
.col-4>p {
	width: 230px;
	margin: 5px;
	font-size: .8em;
}
.icon-btn {
	width: 50px;
	height: 50px;
	margin: 15px;
	font-size: 30px;
	line-height: 50px;	
	
}

/* section wake */
.wake {
	height: auto;
	
}
.wake>.container {
	max-width: 460px;
    width: 100%;
	padding: 10px;
	
}
.wake>.container>h2 {
	font-size: 1.4em;
	
}
.wake>.container>p {
	font-size: 1.2em;
    margin: 10px;
}
/* section gallery */

.rowgallery{
	height: auto;
}
.fotoicon {
	float: left;
	width: 50%;
}

.iconc {
  display: none
}

.fotoicon:hover img {
	opacity: 1;
}

/* section rejsy */

.rejsy {
    height: auto;
}

.rejsy>.container {
	max-width: 460px;
    width: 100%;
	padding: 10px;
	
}
.rejsy>.container>h2 {
	font-size: 1.4em;
	padding-top: 10px;
}
.rejsy>.container>p {
	font-size: 1.2em;
	margin: 0 10px;
	}
/* section awesome */
.awesome {
	box-sizing: border-box;	
	background-color: black;
	color: white;
	height: auto;
    
}	
.awesome>.row {
	height: 100%;
	display: block;
    
}
.phonetxt {
padding: 10px 20px;
height: auto;
}
.phonetxt h3 {
	text-align: center;
	margin: 10px auto;
	font-size: 1.4em;
	letter-spacing: 1.5pt;
}
.six1 {
	width: auto;
	height: auto;
    text-align: center;
    padding: 0 10px 0 10px;
    font-size: 1em;
}
.six2 {
	height: auto;
	text-align: center;
	font-size: 1em;
	padding: 0 10px 0 10px;
    width: auto;
}
.awesomeimg {
	height: 30vh;
	margin-top: 0px;
}
.phone {
	background-position: 80% right;
}
/* section about */
.about {
	height: auto;
}
.face {
	width: 120px;
	height: 120px;
	border: 0px;
	border-radius: 50%;
	margin: 10px;
	line-height: 120px;	
    
}
    
.aboutcol {
	text-align: center;
	padding-right: 0px;
	letter-spacing: 1pt;
}
.aboutcol2 {
	text-align: center;
	padding-left: 0px;
}    
  
/* section numbers */
.numbers {
    display: none;
	/*box-sizing: border-box;	
	background-color: #FFC556;
    height: auto;
    padding: 30px 10px;*/
}	
/* section footer */
.footer {
	padding-top: 20px;
    height: auto;
}	

[class*="colfo-"] {
	float: none;
	min-height: 1px;
	height: auto;
	text-align: center;
    width: 90%;
    padding-bottom: 30px;
    margin: 0 auto;  
    font-size: 1em; 
 }
  
.colfo-1 h3 {
    margin-left: 0px;	
    font-size: 1.2em;
}
.colfo-1 p {
    margin-left: 0px;
    margin-top: 23px;
    font-size: 1em;
 }  
  

[class*="colforowcol-"] {
	margin-left: 25px;
	margin-right: 10px;
}	
.colfo3row {
	width: 100%;
    padding-bottom: 20px;
}
.colfo3rowcol-1 {
	margin-left: 0px;
}
[class*="colfo3rowcol-"] {
	margin-top: 30px;
	float: left;
}    
.iconfooter:hover {
	background-color: darkblue;
	color: white;
}
.copy {
height: 7vh;
text-align: center;
margin: 0 auto;
color: white;
background-color: black;
font-size: 12px;
}
    
}


@media screen and (min-width: 461px) and (max-width: 880px){

.container {
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
}



/* section header */

    /*hamburger*/
.menu-btn {
    display: block;
    position: absolute;
    top: 5%;
    left: 80%;
    width: 30px;
 }

.menu-btn:before,
.menu-btn:after {
  background-color: #000;
  content: '';
  display: block;
  height: 5px;

}
.menu-btn:before {
  box-shadow: 0 10px 0 #000;
  margin-bottom: 15px;
}

#ulmenu {
    display: none;
}

    
    
/*end hamburger*/
    
nav {
    width: 100%;
	height: auto;
}
.row {
	text-align: center;
}
header>nav>div>img {
	margin: 0 auto;
    width: 170px;
	height: auto;
}
header>nav>div>ul {
	margin: -5px auto;
	float: none;
	background-color: #E0DBDB;
	width: 170px;
}
header>nav>div>ul>li {
	display: block;
	color: #645858;
	margin-left: -40px;
    border-bottom: 1px solid white;
}
    header>nav>div>ul>li:last-of-type {
    border-bottom: none;    
}

header>nav>div>ul>li>a:hover {
	background-color: #E0DBDB;
	color: white;
	cursor: default;
}    
    
/* section hero */
.hero {
	background-position: 50% 75%;	
}
.slogan {
	float: none;
	max-width: 300px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}


.slogan>h2 {
	
	font-size: 1.4em;
	margin-bottom: 10px;
}
.slogan>p {
	font-size: 1.2em;
	
}

/* section szkolenia */

.szkolenia {
    height: auto;
}
    
.szkolenia>.container {
	max-width: 460px;
    width: 100%;
	padding: 10px;
}    
.szkolenia>.container>h2 {
	font-size: 1.4em;
 
}
.szkolenia>.container>p {
	font-size: 1.2em;

}

.szkolenia>.container>.row {
	margin-top: 10px;
	height: auto;
}

    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    

[class*="col-"] {
    height: auto;
}

.col-s-12 {
    margin-bottom: 0;
}

.col-4>h3 {
	font-size: 1em;
}
.col-4>p {
	width: 230px;
	margin: 5px;
	font-size: .8em;
}
.icon-btn {
	width: 50px;
	height: 50px;
	margin: 15px;
	font-size: 30px;
	line-height: 50px;	
	
}

/* section wake */
.wake {
	height: auto;
	
}
.wake>.container {
	max-width: 460px;
    width: 100%;
	padding: 10px;
	
}
.wake>.container>h2 {
	font-size: 1.4em;
	
}
.wake>.container>p {
	font-size: 1.2em;
    margin: 10px;
}
/* section gallery */

.rowgallery{
	height: auto;
}
.fotoicon {
	float: left;
	width: 50%;
}

.iconc {
  display: none
}

.fotoicon:hover img {
	opacity: 1;
}

/* section rejsy */

.rejsy {
    height: auto;
}

.rejsy>.container {
	max-width: 460px;
    width: 100%;
	padding: 10px;
	
}
.rejsy>.container>h2 {
	font-size: 1.4em;
	padding-top: 10px;
}
.rejsy>.container>p {
	font-size: 1.2em;
	margin: 0 10px;
	}
    
    
/* section awesome */
    
.awesome {
	height: auto;
    
}
.awesome>.row {
	height: 100%;
	display: block;
}    
.phonetxt {
    padding: 20px;
    height: auto;
    margin: 0 auto;
    
}
.phonetxt h3 {
	text-align: left;
	margin: 5px 40px;
	font-size: 1.4em;
	letter-spacing: 1.5pt;
}
.six1 {
	height: auto;
    text-align: left;
    font-size: 1.1em;
    padding: 0 40px;
}
.six2 {
	height: auto;
	text-align: left;
	font-size: 1.1em;
    padding: 0 40px;
	
}
.awesomeimg {
	display: none;
}
    
    
    
    

/* section about */
.about {
	height: auto;
}
.face {
	width: 120px;
	height: 120px;
	border: 0px;
	border-radius: 50%;
	margin: 10px;
	line-height: 120px;	
    
}
    
.aboutcol {
	text-align: right;
	
}
.aboutcol2 {
	text-align: right;
}
  
/* section numbers */
.numbers {
    display: none;
	/*box-sizing: border-box;	
	background-color: #FFC556;
    height: auto;
    padding: 30px 10px;*/
}	
/* section footer */
.footer {
	padding-top: 20px;
    height: auto;
}	

[class*="colfo-"] {
	float: none;
	min-height: 1px;
	height: auto;
	text-align: center;
    width: 90%;
    padding-bottom: 30px;
    margin: 0 auto;  
    font-size: 1em; 
 }
  
.colfo-1 h3 {
    margin-left: 0px;	
    font-size: 1.2em;
}
.colfo-1 p {
    margin-left: 0px;
    margin-top: 23px;
    font-size: 1em;
 }  
  

[class*="colforowcol-"] {
	margin-left: 80px;
	margin-right: 10px;
}	
.colfo3row {
	width: 100%;
    padding-bottom: 20px;
}
.colfo3rowcol-1 {
	margin-left: 0px;
}
[class*="colfo3rowcol-"] {
	margin-top: 30px;
	float: left;
}    
.iconfooter:hover {
	background-color: darkblue;
	color: white;
}
.copy {
height: 7vh;
text-align: center;
margin: 0 auto;
color: white;
background-color: black;
font-size: 12px;
}
    
}






    

/* finish RWD */

/* scroll-up button */

@media only screen and (min-width: 200px) {
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(255, 197, 86, 0.8) url(img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: rgba(255, 197, 86);
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 80px;
    width: 80px;
    right: 30px;
    bottom: 30px;
  }
}
